<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
		 connectionString= "Data Source=TEJAS_JAWALKAR;Initial Catalog=AllScripts;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
	 providerName="System.Data.SqlClient"
		 ></add>
	</connectionStrings>
</configuration>